<!DOCTYPE html>
<html>
<head>
    <title>Agregar gasto</title>
</head>
<body>

    <h1>Agregar gasto</h1>

    <form method="POST">

        <label>Descripción:</label>
        <input type="text" name="descripcion" required>

        <br><br>

        <label>Monto:</label>
        <input type="number" name="monto" required>

        <br><br>

        <button type="submit">
            Guardar gasto
        </button>

    </form>

    <br>

    <a href="/">
        <button>Volver al menú</button>
    </a>

</body>
</html>